[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = git@github.com:antAzerothCore/mod-transmog.git
[submodule "modules/mod-account-achievements"]
	path = modules/mod-account-achievements
	url = git@github.com:azerothcore/mod-account-achievements.git
[submodule "modules/mod-accountbound"]
	path = modules/mod-accountbound
	url = git@github.com:noisiver/mod-accountbound.git
[submodule "modules/mod-accountbound-plus"]
	path = modules/mod-accountbound-plus
	url = git@github.com:antAzerothCore/mod-accountbound-plus.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = git@github.com:azerothcore/mod-ah-bot.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = git@github.com:trickerer/mod-autobalance.git
[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = git@github.com:ZhengPeiRu21/mod-challenge-modes.git
[submodule "modules/mod-character-tools"]
	path = modules/mod-character-tools
	url = git@github.com:azerothcore/mod-character-tools.git
[submodule "modules/mod-dbfixes"]
	path = modules/mod-dbfixes
	url = git@github.com:antAzerothCore/mod-dbfixes.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = git@github.com:ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-levelscaling"]
	path = modules/mod-levelscaling
	url = git@github.com:antAzerothCore/mod-levelscaling.git
[submodule "modules/mod-npcbot-balance"]
	path = modules/mod-npcbot-balance
	url = git@github.com:antAzerothCore/mod-npcbot-balance.git
[submodule "modules/mod-solo-lfg"]
	path = modules/mod-solo-lfg
	url = git@github.com:azerothcore/mod-solo-lfg.git
[submodule "modules/mod-starter-guild"]
	path = modules/mod-starter-guild
	url = git@github.com:azerothcore/mod-starter-guild.git
